<mat-card class="card mb-10 pb-3" appearance="outlined">
  <mat-card-header class="ml-2">
    <div class="flex justify-between !w-full">
      <div class="flex cursor-pointer" [routerLink]="['/profile/', postData()?.author?.id]">
        <img mat-card-image [src]="ProfileImageSrc(postData()!)" alt="profile image"
          class="!rounded-full w-[30px] h-[30px] overflow-hidden" />
        <h2 class="ml-2 flex items-center font-medium">
          {{ postData()?.author?.username }}
        </h2>
      </div>
      @if (postData()?.author?.id === userId) {
      <div>
        <button mat-flat-button class="btn-edit mr-3" (click)="updatePost()">Edit</button>
        <button mat-flat-button class="btn-delete" (click)="deletePost()">Delete</button>
      </div>
      }
    </div>
  </mat-card-header>
  @if (imageSrc()) {
  <img mat-card-image [src]="imageSrc()" alt="post image" class="mx-4 mt-4 rounded-md" />
  }
  <mat-card-content class="ml-2 mt-4">
    <p class="text-gray-500">{{ postData()?.created_at }}</p>
    <h1 class="text-2xl break-words">{{postData()?.title}}</h1>
    <p class="text-gray-500 break-words">
      {{ postData()?.body }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-fab extended class="ml-3 mt-3" [routerLink]="['/post/', postData()?.id]">({{ postData()?.comments_count
      }}) Comments</button>
  </mat-card-actions>
  @if (comments() !== null) {
  <div class="bg-[#d9dee7] p-5 m-4 rounded-md ">
    @for (comment of comments(); track comment.id){
    <div class="p-4 bg-white mb-4 rounded-md">
      <header class="comment-header flex cursor-pointer" [routerLink]="['/profile/', comment?.author?.id]">
        <img mat-card-image [src]="ProfileImageSrc(comment)" alt="profile image"
          class="!rounded-full w-[30px] h-[30px] overflow-hidden" />
        <h2 class="ml-2 flex items-center font-medium">
          {{ comment?.author?.username }}
        </h2>
      </header>
      <hr class="my-4">
      <p class="text-gray-600 ml-2">{{comment.body}}</p>
    </div>
    }
    <div class="grid grid-cols-12">
      <mat-form-field appearance="outline" class="input col-span-11 mr-4 !mb-0">
        <!-- <mat-label>Add Comment</mat-label> -->
        <input matInput placeholder="Add Comment" [(ngModel)]="comment" />
      </mat-form-field>
      <button mat-flat-button class="my-auto" (click)="sendComment()">Send</button>
    </div>
  </div>
  }
</mat-card>
