@use "@angular/material" as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
.warning {
  @include mat.dialog-overrides(
    (
      supporting-text-color: #333333,
    )
  );
}

.input {
  @include mat.form-field-overrides(
    (
      outlined-container-shape: 25px,
    )
  );
}

::ng-deep {
  .mat-mdc-dialog-surface {
    overflow: hidden !important;
  }
}

.button {
  @include mat.button-overrides(
    (
      protected-ripple-color: orange,
      filled-label-text-color: red,
    )
  );
}

// for change the default border radius in form field
.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined.mdc-text-field--no-label {
  border-radius: 25px !important;
}

mat-form-field {
  width: 100%;
}

mat-dialog-content {
  width: 450px;
  @media (max-width: 640px) {
    width: 90vw !important;
  }
}
