@use "@angular/material" as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:host {
  @include mat.fab-overrides(
    (
      extended-container-height: 40px,
      // extended-hover-container-elevation-shadow: 0 0 0 0px rgba(0, 0, 0),
    )
  );
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
.btn-edit {
  @include mat.button-overrides(
    (
      filled-container-color: #0b5ed7,
    )
  );
}

.btn-delete {
  @include mat.button-overrides(
    (
      filled-container-color: #dc3545,
    )
  );
}

.input {
  @include mat.form-field-overrides(
    (
      outlined-outline-color: transparent,
      outlined-hover-outline-color: transparent,
    )
  );
}

.card {
  width: 100%;
}

::ng-deep {
  .mdc-text-field--outlined {
    background-color: white;
  }
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}
